[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/Rythe-Interactive/spdlog.git
[submodule "third_party/argh"]
	path = third_party/argh
	url = https://github.com/adishavit/argh.git
